body{
    text-align: center;
    font-family: 'Black Ops One', cursive;
    user-select: none;
}

#head {
    display: grid;
    grid-template-columns: 100px auto;
}

#caption{
    font-size: 30pt;
    background: rgb(255, 102, 0);
}

#grid-container1{
    display: grid;
    grid-template-columns: 50% 50%;
}

#grid2{
    background: rgb(255, 102, 0);
    height: 100px;
}

#grid-container2{
    width: 150px;
    height: 100px;
    font-size: 45pt;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}

#ergebnis {
    font-size: 24pt;
    text-align: center;
    font-weight: bold;
}

#buttons button{
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

#buttons img{
    width: 70px;
    transition: transform .2s;
}

#buttons img:hover{
    transform: scale(1.2);
}

#output img{
    width: 70px;
}

#replay{
    font-size: 16pt;
    font-family: 'Black Ops One', cursive;
    border: solid rgb(255, 102, 0) 4pt;
    border-radius: 10pt;
    background-color: rgb(255, 255, 255);
}

#replay:hover{
    background-color: rgb(255, 102, 0);
}

.dark-mode{
    background-color: rgb(54, 49, 49);
    color: white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    }

    .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
    }

    .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    }

    .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    }

    input:checked + .slider {
    background-color: #2196F3;
    }

    input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
    border-radius: 34px;
    }

    .slider.round:before {
    border-radius: 50%;
    }